body {
  font-family: Helvetica, sans-serif;
}
.home:{
  width: 968px;
}
.main{
  background-image: url(../images/home.jpg);
  background-size: cover;
  color: white;
  font-size: 24px;
  height: 420px; 
  margin-left: auto;
  margin-right: auto; 
  margin-top: 10px;
  padding-top:36px;
  text-align: center;
  width: 90%;
  font-weight: bold;
  filter: drop-shadow(0px 0px 5px #666);
  position: relative;
}
.nav-bar{
  height: 40px;
  padding-top: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
li{
  text-align: center;
  color: #425ff4;
  padding-left: 5px;
}

.login{
  font-size: 15px;
  float: right;
  border: 1px solid limegreen;
  border-radius: 5px;
  background-color: limegreen;
  padding: 10px 20px;
}
.login a {
  text-decoration: none;
  color: white;
}
.title a{
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

/*Dashboard styles*/
.dashboard-main{
  border: 1px solid darkgray;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  width: 90%;
}
.dashboard-choices{
  display: inline-block;
  width: 33%;
  text-align: center;
  margin-top: 45px;
}
.dashboard-choices h2{
  margin-bottom:30px;
}
/*Footer styles*/
.footer{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.top-nav {
    background-color: gray;
}

.top-nav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.top-nav .active{
  background-color: limegreen;
}
.top-nav a:hover{
  text-decoration: underline;
}
.search input{
  padding: 10px;
  font-size: 16px;
  border: 2px solid grey;
}

.search button{
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}
.search h2{
  font-size: 18px;
  margin: 10px;
}

.results {
  padding-top: 5px;
  border: 1px solid gray;
  width: 340px;
  display:inline-block;
}
.search-results button{
  display: inline-block;
  width: 40px;
  padding: 10px;
  font-size: 12px;
  margin-left: 5px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}
.photo-credit {
  background-color:slategray;
  color:white;
  text-decoration:none;
  padding:4px 6px;font-family:Helvetica, Arial, sans-serif;
  font-size:12px;
  font-weight:bold;
  line-height:1.2;
  border-radius:3px;
  position: absolute;
  bottom: 25px;
  right: 25px;
}
.credit-style {
  display:inline-block;
  padding:2px 3px;
}

/* Member */
#name {
  margin-left: 20px;
  width: 150px;
}
#email{
  width: 200px;
}

.members-container h2{
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.members input{
  padding: 10px;
  font-size: 16px;
  border: 2px solid grey;
  margin-right:10px;
}
.members button{
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}
.name {
  display: inline-block;
  margin-left: 20px;
  margin-right:10px;
  margin-top: 2px;
  border: 2px solid grey;
  padding: 5px;
  width: 160px;
}
.email {
  display: inline-block;
  margin-right:10px;
  margin-top:2px;
  border: 2px solid grey;
  padding: 5px;
  width: 280px;
}
h3{
  margin-left: 20px;
}
.person-input{
  position: fixed;
  margin-top: 20px;
  bottom: 70px
}
.current-members{
  overflow-y:auto;
}
.book-list{
  display: inline-block;
  overflow-y: scroll;
  height: 305px;
  width: 470px;
}
.reading-list h2 {
  height: 100px;
}
.description{
  float: right;
  display: inline-block;
  width: 300px;
  border: 1px solid black;
}
.about{
  text-align: center;
}