body {
  font-family: Helvetica, sans-serif;
}
.home:{
  width: 968px;
}
.main{
  background-image: url(../images/home.jpg);
  background-size: cover;
  color: white;
  font-size: 24px;
  height: 420px; 
  margin-left: auto;
  margin-right: auto; 
  margin-top: 10px;
  padding-top:36px;
  text-align: center;
  width: 90%;
  font-weight: bold;
  filter: drop-shadow(0px 0px 5px #666);
}
.nav-bar{
  height: 40px;
  padding-top: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.signup{
    background-color: limegreen;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 40px;
}
li{
  text-align: center;
  color: #425ff4;
  padding-left: 5px;
}

.login{
  font-size: 15px;
  color: #425ff4;
  float: right;
}
.title a{
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

/*Dashboard styles*/
.dashboard-main{
  border: 1px solid darkgray;
  margin-left: auto;
  margin-right: auto;
  height: 420px;
  width: 90%;
}
.dashboard-choices{
  display: inline-block;
  width: 33%;
  text-align: center;
  margin-top: 45px;
}
.dashboard-choices h2{
  margin-bottom:30px;
}
/*Footer styles*/
.footer{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.top-nav {
    background-color: gray;
}

.top-nav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.search input{
  padding: 10px;
  font-size: 16px;
  border: 2px solid grey;
}
.search button{
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}
.search h2{
  font-size: 18px;
  margin: 10px;
}

.results {
  border: 1px solid gray;
  width: 220px;
}
.search-results button{
  padding: 10px;
  font-size: 12px;
  margin: 5px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}
