.header{
  height: 40px;
  background-color:lightblue;
}
.home{
  position: relative;
}
.login{
  float: right;
  clear: left;
}
.main{
  border: 1px solid black;
  text-align: center;
  height: 375px;
  font-size: 26px;
  padding-top:60px;

}
.nav-bar{
  border: 1px solid black;
  display: inline;
}
.nav-bar div{
  text-align: center;
  background-color:lightblue;
}
.main button{
  margin-top: 60px;
}